.searchbar{
    

}

.addbutton{
    margin-top: px;
    color:black;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 154px;
    height: 40px;
    border-radius: 24px;
    border-color: transparent;
    background: #46ff38;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.16);
    text-decoration: none;
}
.addbutton:hover{
        color: #1dff05;
        background-color: #000000dc;
        transition: 0.7s;
        transform: scale(0.9)
    
}

.input{   
               
        margin-right: 10px;
        margin-top: 10px;    
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
        font-weight: 500;
        font-size: 1.6vw;
        color: #26be00;
        width: 221px;
        height: 29px;
        border-radius: 34.5px;
        background: #515158a6;
        box-shadow: 0px 3px 12px rgba(4, 185, 49, 0.712);
        border: none;
        outline: none;
        padding: 0.4vw;    
        transition: .4s;
      }
      
      .input:hover {
        box-shadow: 0 0 0 .15vw rgba(7, 164, 226, 0.952);
      }
      
      .input:focus {
        box-shadow: 0 0 0 .15vw rgba(7, 164, 226, 0.952);
      }
