nav {
    display: flex;
    background-color: none;
    margin-top: 20px; 

}


    .button{    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
        bottom: 105px;
        left: 570%;
        width: 194px;
        height: 38px;
        border-radius: 24px;
        border-color: transparent;
        background: #46ff38;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.16);
        margin-top: 40px;
        margin-bottom: 10px;
        margin: 22px 10px;
        text-decoration: none;

        
    }
    .button:hover{
        color: #000000;
        background-color: #2d9e16;
        transition: 0.7s;
        transform: scale(0.9)
        
    }

    